# <center> <u>Data Structures <u> </center>

## 1. Lists

#### 1.1 Create an empty list with the name ‘a’, print the value of a and type(a).

In [1]:
# create empty list, name it 'a'
a = []

In [5]:
# print the value of a

a

[]

In [3]:
# print the type of a
type(a)

list

#### 1.2.Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [26]:
#code here
languages = ['R','Python','SAS','Scala',42]

Print the number of elements in the list

In [8]:
#code here
len(languages)

5

Using for loop iterate and print all the elements in the list

In [10]:
#code here
for item in languages:
  print (item)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [ ]:
#code here

In [11]:
temp = languages[1]

Print the value of temp and type(temp)

In [14]:
#code here
print(temp)
print(type(temp))

Python
<class 'str'>

Using list comprehension, print the last two elemets of list

In [32]:
# code here
indexes = [3,4]
l2 = [languages[index] for index in indexes]
print(l2)

['Scala', 42]

Append the element 'Java' in the list

In [23]:
#code here
languages.append('Java')

Remove the element 42 from the list and print the list

In [22]:
#code here
languages.remove(42)

#### 1.3. Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

In [24]:
#code here
colors = ['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [25]:
#code here
colors.append("Black")

Append the color 'Orange' to second position (index=1) and print the list

In [33]:
# code here
colors.insert(1,'Orange')

Print the list

In [34]:
# code here
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [35]:
# code here
colors2 = ['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [36]:
#code here
colors.extend(colors2)

Print len of colors and its elements

In [39]:
# code here
print(len(colors))
print(colors)

7
['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [40]:
# code here
colors.sort()
print(colors)

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

#### 1.4. Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

In [41]:
# code here
sent = 'Coronavirus Caused Lockdowns Around The World.'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [43]:
# code here
word = sent.split(" ")
print(word)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Using list comprehensions, convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [45]:
# code here
word_lower = [x.lower() for x in word]
print(word_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‘country’ is in the list

In [47]:
# code here
'country' in word_lower

False

Remove the element ‘the’ from the list and print the list.

In [48]:
# code here
word_lower.remove('the')
print(word_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [56]:
#code here
x4 = word_lower[:4]

In [57]:
# print x4
print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [58]:
#code here
" ".join(x4)

'coronavirus caused lockdowns around'

## 2. Sets

#### 2.1. Create stud_grades = ['A','A','B','C','C','F']

In [64]:
#code here
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [65]:
#code here
print(len(stud_grades))

6

Create a new variable, stud_grades_set = set(stud_grades)

In [66]:
#code here
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [70]:
#code here
print(stud_grades_set)

{'F', 'A', 'C', 'B'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [74]:
#code here
print(type(stud_grades) ,stud_grades)
print(type(stud_grades_set) , stud_grades_set)

<class 'list'> ['A', 'A', 'B', 'C', 'C', 'F']
<class 'set'> {'F', 'A', 'C', 'B'}

Add a new element ‘G’ to stud_grades_set

In [75]:
#code here
stud_grades_set.add('G')

Add element 'F' to stud_grades_set. and print it.

In [76]:
#code here
stud_grades_set.add('F')
print(stud_grades_set)

{'A', 'F', 'G', 'C', 'B'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [77]:
#code here
stud_grades_set.remove("F")

Print the elements and the length of stud_grades_set

In [78]:
#code here
print(stud_grades_set)
print(len(stud_grades_set))

{'A', 'G', 'C', 'B'}
4

#### 2.2. Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

In [79]:
#code here
colors = ['red', 'blue', 'orange']
fruits = ['orange','grapes','apples']

Print color and fruits

In [80]:
#code here
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [85]:
#code here
colors_set = set(colors)
fruits_set = set(fruits)
print(colors_set)
print(fruits_set)

{'red', 'orange', 'blue'}
{'apples', 'grapes', 'orange'}

Find the union of both the sets.

In [86]:
#code here
colors_set.union(fruits_set)

{'apples', 'blue', 'grapes', 'orange', 'red'}

Find the intersection of both the sets

In [87]:
#code here

colors_set.intersection(fruits_set)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [88]:
#code here
fruits_set.difference(colors_set)

{'apples', 'grapes'}

## 3. TUPLES

#### 3.1 . Create temp = [17, ’Virat’, 50.0]

In [89]:
#code here
temp = [17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [90]:
#code here

for item in temp:
  print(item)

17
Virat
50.0

replace first element with 11 in temp

In [91]:
#code here
temp[0] = 11

Set temp1 = tuple(temp)

In [92]:
#code here

temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [94]:
#code here
for item in temp1:
  print(item)

11
Virat
50.0

replace first element with 17 in temp1

In [95]:
#code here
temp1[0] = 17

TypeError: ignored

<b>Oops!!  got an error.  Don't worry! Its because Once a tuple is created, we cannot change its values unlike list.</b>

#### 3.2 . Create city = ("Bangalore", 28.9949521, 72)

In [96]:
#code here
city = ('Bangalore', 28.9949521, 72)

Print first element of city

In [97]:
#code here
print(city[0])

Bangalore

Create city2 = (‘Chennai’, 30.01, 74)

In [98]:
#code here
city2 = ('Chennai',30.01,74)

Create cities which consist of city and city2

In [105]:
#code here
cities = ((city,) + (city2,))

Print cities

In [106]:
#code here
print(cities)

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [108]:
#code here
print(type(cities[0]))

<class 'tuple'>

print the type of cities

In [109]:
#code here
print(type(cities))

<class 'tuple'>

## 4. DICT

#### 4.1 Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [110]:
#code here
d = {'actor':'amir','animal':'cat','earth0':2,'list':[23,32,12]}

Print the value of d[0]

In [111]:
#code here
print(d[0])

KeyError: ignored

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [112]:
#code here

actor = d['actor']

Print the type of actor

In [113]:
#code here
print(type(actor))

<class 'str'>

Store the value of d[‘list’] in new variable l.

In [114]:
#code here

l = d['list']

Print the type of l.

In [115]:
#code here
print(type(l))

<class 'list'>

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [116]:
#code here
d1 = {'singer':'Kr$na','album':'Still here','genre':'hip-hop'}

Merge d1 into d.

In [117]:
#code here
d.update(d1)

print d

In [130]:
#code here
for key, value in d.items():
    print(key, ' : ', value)

actor  :  amir
animal  :  cat
earth0  :  2
list  :  [23, 32, 12]
singer  :  Kr$na
album  :  Still here
genre  :  hip-hop

Print all the keys in d

In [131]:
#code here
d.keys()

dict_keys(['actor', 'animal', 'earth0', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [132]:
#code here
d.values()

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as given in output

In [133]:
#code here
for key, value in d.items():
    print(key, ' : ', value)

actor  :  amir
animal  :  cat
earth0  :  2
list  :  [23, 32, 12]
singer  :  Kr$na
album  :  Still here
genre  :  hip-hop


Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

Count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [138]:
#code here

sent = 'Coronavirus Caused Lockdowns Around The World'

dict1 = {}
for i in sent:
  dict1[i] = 0
for j in sent:
  dict1[j] = dict1[j]+1

dict1

{' ': 5,
 'A': 1,
 'C': 2,
 'L': 1,
 'T': 1,
 'W': 1,
 'a': 2,
 'c': 1,
 'd': 4,
 'e': 2,
 'h': 1,
 'i': 1,
 'k': 1,
 'l': 1,
 'n': 3,
 'o': 6,
 'r': 4,
 's': 3,
 'u': 3,
 'v': 1,
 'w': 1}

# --------------------------------------------------------------------