# <center><u> Python basics</u></center>

## Variable declaration

In [ ]:
# declare two variables, a = 5, b = 'city'
a = 5
b = 'city'

In [ ]:
# print type of a
print(type(a))

<class 'int'>

In [ ]:
# print type of b
print(type(b))

<class 'str'>

In [ ]:
# swap the values of a and b
a , b = b , a

In [ ]:
# run this to confirm 
print('a = {}, b = {}'.format(a,b))

a = city, b = 5

## Arithmetic Operations

In [ ]:
# declare two variables, a = 24, b = 3

a = 24
b = 3
print('a = {}, b = {}'.format(a,b))

a = 24, b = 3

In [ ]:
# calculate and print all the possible numerical operations on a and b (There are total 7 operations)
print('a + b =', a+b)
print('a - b =', a-b)
print('a * b =', a*b)
print("a / b = ", a/b) 
print("a % b =", a%b)
print("a // b =", a//b)
print('a ^ b =', a**b)

a + b = 27
a - b = 21
a * b = 72
a / b =  8.0
a % b = 0
a // b = 8
a ^ b = 13824

## Math Functions

In [ ]:
import math

In [ ]:
# declare a variable x = 2 and y=5.32167
x = 2
y = 5.32167

In [ ]:
# Print the maximum value between x and y
print(max(x,y))

5.32167

In [ ]:
# Print the minimum value between x and y
print(min(x,y))

2

In [ ]:
# Print square and cube of x and store in a and b variable
a = x**2
b = x**3
print(a)
print(b)

4
8

In [ ]:

#print log of x and store it in variable c
c = math.log(x)
print(c)

0.6931471805599453

In [ ]:
#print minimum value between x,y,a, b and c
print(min(x,y,a,b,c))

0.6931471805599453

In [ ]:
#print maximum value between x,y,a, b and c
print(max(x,y,a,b,c))

8

In [ ]:
#print the largest integer that is smaller than or equal to c. ie.round down
round(c,-1)

0.0

In [ ]:
#print the smallest integer that is greater than or equal to c ie. round up
round(c,0)

1.0

## Logical operations

In [ ]:
# declare two variables, a = True, b = False
a = True
b = False
print(a)
print(b)

True
False

In [ ]:
# print type of a and type of b
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [ ]:
# print int(a) and int(b)
print('int of a is', int(a))
print('int of b is', int(b))

int of a is 1
int of b is 0

In [ ]:
# Find and print the values of not a, not b, a and b, a or b, a and not b
print('not a =', not a)
print('not b =', not b)
print('a and b =', a and b)
print('a or b =', a or b)
print('a and not b =', a and not b)

not a = False
not b = True
a and b = False
a or b = True
a and not b = True

## List Comprehensions

In [ ]:
lis1 = [x for x in range(1,11)]
lis1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Using list comprehension, create a list containing numbers from 1 to 20. 
# Hint: You can use range function of python to do this.
lis1 = [x for x in range(1,21)]
lis1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
# Using list comprehension, create a list containing numbers from 1 to 20 that are even
lis2 = [x for x in range(1,21) if x%2==0]
lis2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Create a list of all the fruits you like. Using list comprehension, create another list which contains the total number of charachters for each corresponding fruits.
- Eg. fruits = [‘apple’,’kiwi’,’orange’], then output would be - [5,4,6]

In [ ]:
fruits = ['apple','banana','grapes','oranges']
len_fruits =  [len(x) for x in fruits]

print(fruits)
print(len_fruits)

['apple', 'banana', 'grapes', 'oranges']
[5, 6, 6, 7]

## String value and operators

<p style='text-align: right;'> 1 + 1 + 1 + 1 + 1 = 5 points </p>

In [ ]:
# declare the variables x = cat and y = dog and print it
x =  'cat'
y = 'dog'

print(x)
print(y)

cat
dog

In [ ]:
#Print first character of both x and y. 
print('First ch of x =', x[0])
print('First ch of y =', y[0])

First ch of x = c
First ch of y = d

In [ ]:
#Print last character of both x and y.
print('Last ch of x =', x[-1])
print('Last ch of y =', y[-1])

Last ch of x = t
Last ch of y = g

In [ ]:
#Print len of both x and y
print('Length of x is', len(x))
print('Length of y is', len(y))

Length of x is 3
Length of y is 3

In [ ]:
#concatenate both x and y and store it in variable z and print z
z = x+y
print(z)

catdog

In [ ]:
#check if x is part of z 
x in z

True

### String slicing

In [ ]:
#Create variable a = “pineapple”
a = 'pineapple'
print(a)

pineapple

In [ ]:
# Using index slicing, print the words ‘pine’ and “apple”.
# HINT - a[:]
print(a[:4])
print(a[4:])

pine
apple

In [ ]:
#Convert a into upper case
a.upper()

'PINEAPPLE'

## Dealing with Sentences

In [ ]:
# Declare a sentence of ‘I am flying to London’ and print it
sent = 'I am flying to London'
print(sent)

I am flying to London

In [ ]:
#Print length of the sentence
print('Len of sentence is', len(sent))

Len of sentence is 21

In [ ]:
#Using list indexing, to print the word London
sent[15:]

'London'

In [ ]:
# Use .split to get list of individual words in the sentence
sent.split()

['I', 'am', 'flying', 'to', 'London']

In [ ]:
# Convert sentence in lower case 
sent.lower()

'i am flying to london'

In [ ]:
# Convert sentence in upper case .
sent.upper()

'I AM FLYING TO LONDON'

## Functions

In [2]:
def square(x):
    return print(f'Square of {x} is ', x**2)

Call the function to find the value of square of 9.

In [3]:
# find the square of 9 using the function square you have just created.
square(9)

Square of 9 is  81

#### Define another function which checks whether a given is number is odd or even for a given input and it should print whether the  number is odd or even as an output

In [6]:
# code here
def odd_even(x):
  z = float(input("Please Enter one Number: "))
  if z%2 == 0:
    print(f'{z} is even')
  else:
    print(f'{z} is odd')

In [82]:
 #  code here
def square(x):
    z = x*x
    def odd_even(z):
      if z%2 == 0:
        print(f'{z} is even')
      else:
        print(f'{z} is odd')
    odd_even(z)

square(3)
square(6)
square(21)

9 is odd
36 is even
441 is odd

# Loops and Iterations

## If statement

In [13]:
#Declare a variable x equal to a number of your choice.
x =  int(input("Enter nuber of your choice :"))
print(x)

Enter nuber of your choice :-2
-2

In [14]:
#Using an if statement, print whether x is zero, positive or negative.
if x > 0:
  print(f'{x} is positive')
elif x < 0:
  print(f'{x} is negative')
else:
  print(f'{x} is zero')

-2 is negative

In [18]:
# Now Define a function, which takes input from the user and prints whether the given input is zero,positive or negative.
def check_num(x):
  x = int(input("Enter a number: "))
  if x > 0:
    print(f'{x} is positive')
  elif x < 0:
    print(f'{x} is negative')
  else:
    print(f'{x} is zero')

check_num(10)
check_num(-2)
check_num(0)

Enter a number: 10
10 is positive
Enter a number: -2
-2 is negative
Enter a number: 0
0 is zero

## For loop

In [19]:
#Create a list x, such that it contains the elements - ‘India’, ‘Israel’,’Canada’.
lis = ['India', 'Israel', 'Canada']

In [20]:
#Using For loop, iterate over the list and print the elements.
for i in lis:
  print(i)

India
Israel
Canada

In [32]:
# Using For loop, print the table of 2.
num = 2
for i in range(2, 11):
   print(num, '*', i, '=', num*i)

2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

For a given list, x = [21, ‘hello,’cream’, 20,19,’village’], using for loop to iterate over the items and using - if statement print the items that are of type int

In [30]:
#code here
x = [21, 'hello','cream', 20,19,'village']
z = []
for i in x:
  if type(i) == type(int()):
    z.append(i)
z

[21, 20, 19]

Using For loop, lets create a pattern.

In [46]:
# print the following pattern
for i in range(6):
  for j in range(i):
    print('*', end = ' ')
  print('')

*
* *
* * *
* * * *
* * * * *

## While loop

- Using while loop make a function that prints all the values between 1 to n.

In [59]:
def counter(n):
  for i in range(1,n):
    while i == n:
      # print (i)
      i = i+1
    print(i)

In [60]:
counter(10) #this should print numbers from 1 to 10 but not 10

1
2
3
4
5
6
7
8
9

### Write the code for the following, what is the output obtained?
- Set a variable flag = True, num = 5
- Run a while loop till flag = True
- Inside the while loop - 
    - Increment the value of num by 5
    - If value of num is greater then 50, set flag to be False

In [70]:

flag = True
num = 5
while flag == True:
  if num == 5:
    print(num)
  num = num+5
  if num >= 50:
    flag = False
  print(num, end="")
  print("")

5
10
15
20
25
30
35
40
45
50

----------------------------------------------------------------------